/* ABOUT Modal Customization */
#aboutModal .modal-content {
    background-color: #f8f2ec;
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    padding: 0;
}
#aboutModal .modal-body {
    display: flex;
    background-color:#f8f2ec;
    align-items: stretch;
}

#aboutModal .modal-content::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

#aboutModal .about-image-placeholder {
    background-image: url('images/general/about1.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
    height: 90%;
    min-height: 500px;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid #404040;
}

#aboutModal h2 {
    letter-spacing: -1px;
    font-size: 2.5rem;
}

#aboutModal .tracking-widest {
    letter-spacing: 0.2rem;
}

#aboutModal  h6 {
    font-size: 1.2rem;
    display: inline-block;
}

/* To let Our Names (Business Owners) appear like signatures (a special font is needed) */
.signature-font {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem; /* Script fonts usually need to be a bit larger to be legible */
    font-weight: bold;
    text-transform: none !important; /* Vital: Script fonts look broken in ALL CAPS */
    line-height: 1.2;
    display: inline-block;
}

/* Responsive adjustment for mobile */
@media (max-width: 768px) {
    #aboutModal .modal-body {
        flex-direction: column;
        padding: 20px;
    }
    #aboutModal .about-image-placeholder {
        min-height: 300px;
    }
}